 body {
                background-color: rgb(100, 78, 78);
                color: rgb(255, 228, 228);
                font-family: roboto mono;
                margin: 0px;
                padding: 0PX;
            }

            header {
                background-color: rgb(80, 61, 61);
                padding: 20px 10px;
            }

            section {
                padding: 20px;
                display: flex;
                flex-direction: row;
            }

            div {
                background-color: rgb(156, 134, 134);
                margin: auto;
                width: 50px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            li {
                display: inline-block;
                margin-right: 20px;
            }

            a {
                color: aliceblue;
            }

            footer {
                background-color: rgb(80, 61, 61);
                padding: 10px 10px;
                margin: 90% 0px 0px 0px;
            }